<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <a href="/">
      <% include partials/heading.ejs %>
    </a>
    <% include partials/scripts.ejs %>
</body>

</html>
